:root{
    --bg: #e2e8f0;
    --white: #fff;
    --fontColor: #475569;
    --inputColor: #a1a1aa;
    --btnBg: #f43f5e;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg);
    font-family: "montserrat", sans-serif;

}

header{
    position: relative;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 10px;
    padding: 2em;
    color: var(--fontColor);
    gap: 1em
}

header h1{
    font-size: 2em;
}

#nameInput{
    margin-left: 2.5em;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}

main{
    margin-top: 2em;
    padding: 2em
}

.addTodo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#toDo-Form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#toDo-Form h3{
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3em;
    color: var(--inputColor);
}

#title{
    width: 100%;
    font-size: 1em;
    margin-top: .5em;
    padding: 1em;
    border-radius: 10px;
}

.option{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.option label{
    background: var(--white);
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 10px;
}

.date p{
    margin-bottom: .5em;
}

.date input{
    padding: 1em;
    border-radius: 10px;
}

#submitBtn{
    background: var(--btnBg);
    color: var(--white);
    font-size: 1em;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
    cursor: pointer;
}

/*ADD FIRST TASK*/
.displayTodo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.container:empty{
    display: none;
}

.empty_space{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    gap: 1em;
}

.container:empty + .empty_space{
    display: flex;
}

/* TASKS HERE*/
.card{
    max-width: 430px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    padding: .6em;
    border-radius: 10px;
    gap: .8em;
}

.card input{
    max-width: 150px;
    height: 2em;
    color: var(--fontColor);
    font-weight: 700;
    font-size: 1.2em;
}


.toDo-check{
    width: 1.5em;
    height: 1.5em;
}

.editBtn{
    background: var(--btnBg);
    padding: 0.3em 0.5em;
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dltBtn{
    background: #be123c;
    padding: 0.3em 0.5em;
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*TASKS PRIORITY*/
.high{
    border-left: 4px solid red;
}

.middle{
    border-left: 4px solid orange;
}

.low{
    border-left: 4px solid green;
}

/*Design*/
p{
    font-weight: 700;
    color: var(--fontColor);
}

.option p{
    color: var(--inputColor)
}

.card p{
    color: var(--inputColor)
}

input{
    border: none;
    outline: none;
    color: var(--inputColor);
}

#sortTodo{
    outline: none;
}

.done{
    text-decoration: line-through;
}

.doneCard{
    opacity: 0.7;
}

@media screen and (min-width: 620px){
    #toDo-Form{
        width: 620px;
        padding: 2em;
        border: 2px solid #475569;
        border-radius: 10px;
        box-shadow: 0 2px 5px;
    }
}

